* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: .5px;
  word-wrap: break-word;
  font-weight: 400;
  background-color: #fff;
  color: #767676;
}

header,
footer,
section,
aside,
nav,
main,
article,
figure {
  display: block;
}

body {
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}

.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Merriweather", serif;
  height: 100vh;
}

header h2 {
  font-weight: 400;
}

.scroll-container {
  height: 100vh;
  min-height: 450px;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.scroll-container:nth-of-type(1) {
  background-color: #bdd0c4;
}

.scroll-container:nth-of-type(2) {
  background-color: #f5d2d3;
}

.scroll-container:nth-of-type(3) {
  background-color: #9ab7d3;
}

.scroll-container:nth-of-type(4) {
  background-color: #dfccf1;
}

.scroll-container:nth-of-type(even) {
  flex-direction: row-reverse;
}

.scroll-element,
.scroll-caption {
  width: 50%;
}

.scroll-element {
  min-height: 300px;
  height: 100%;
  background-color: #eaeaea;
}

.scroll-caption {
  margin: 1rem;
}

.throttle-container {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0.5em 1em;
}

.throttle-container p {
  margin: 0.125em 0;
}

footer {
  text-align: center;
  padding: 0.5rem 0;
  background-color: #faddad;
}

footer p {
  font-size: 0.75rem;
  margin: 0.25rem 0;
  color: #221133;
}

footer a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 650px) {
  .scroll-container,
  .scroll-container:nth-of-type(even) {
    flex-direction: column;
    align-content: inherit;
  }
  .scroll-element {
    height: 100%;
  }
  .scroll-element,
  .scroll-caption {
    width: 100%;
  }
}

/**Styling scrollable elements*/
.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

.home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.home .home-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 27%;
  height: 100%;
}

.home .home-left .navbar .home-left-logo {
  color: black;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 45px;
  font-weight: 1000;
}

.home .home-left .navbar .home-left-menu {
  font-weight: 500;
}

.home .home-left .navbar .home-left-menu ul li {
  line-height: 18px;
  transition: all .2s;
  cursor: pointer;
  display: flex;
  margin-top: 30px;
  color: #767676;
  list-style: none;
}

.home .home-left .navbar .home-left-menu ul li i {
  margin-right: 10px;
}

.home .home-left .navbar .home-left-menu ul li a {
  text-decoration: none;
  color: #767676;
}

.home .home-left .navbar .home-left-menu ul li:first-child {
  margin-top: 0;
}

.home .home-left .navbar .home-left-menu ul li:hover {
  letter-spacing: 2px;
}

.home .home-left .navbar .home-left-menu ul li:hover a {
  color: black;
}

.home .home-left .navbar .home-left-copyright {
  margin-top: 65px;
  color: #767676;
  font-style: italic;
}

.home .home-left .navbar .home-left-copyright a {
  transition: all .3s;
  color: #767676;
  text-decoration: none;
  font-weight: 500;
}

.home .home-left .navbar .home-left-copyright a:hover {
  color: black;
  letter-spacing: 2px;
}

.home .home-right {
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  width: 73%;
  height: 100%;
}

.home .home-right .home-right-cover {
  animation-name: right;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  opacity: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
}

.home .home-right .home-right-cover .home-right-avt {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 100%;
}

.home .home-right .home-right-cover .home-right-avt .avt-img {
  box-shadow: inset 0 0 0 9px #ffffff4d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../img/avt.JPEG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  animation: avt 8s ease-in-out .5s infinite;
}

.home .home-right .home-right-cover .home-right-details {
  margin-left: 80px;
  width: 50%;
}

.home .home-right .home-right-cover .home-right-details .name {
  line-height: 1.2;
  margin-bottom: 20px;
  color: black;
  font-size: 55px;
  font-weight: 800;
}

.home .home-right .home-right-cover .home-right-details .job {
  font-style: italic;
  color: #767676;
  font-weight: 500;
  margin-bottom: 30px;
}

.home .home-right .home-right-cover .home-right-details ul li {
  margin-right: 20px;
  display: inline;
  list-style: none;
}

.home .home-right .home-right-cover .home-right-details ul li a {
  text-decoration: none;
}

.home .home-right .home-right-cover .home-right-details ul li a img {
  width: 17px;
  height: 17px;
  transition: all .4s;
}

.home .home-right .home-right-cover .home-right-details ul li a img:hover {
  opacity: .6;
  transform: translatey(-5px);
}

@keyframes avt {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes right {
  from {
    transform: translatex(-100px);
    opacity: 0;
  }
  to {
    transform: translatex(0);
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .home {
    display: block;
  }
  .home .home-left {
    height: auto;
    width: 100%;
  }
  .home .home-left .navbar {
    padding: 20px 40px;
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
  .home .home-left .navbar .home-left-logo {
    font-size: 40px;
    margin: 0;
  }
  .home .home-left .navbar .home-left-menu ul li {
    display: inline;
  }
  .home .home-left .navbar .home-left-menu ul li a {
    transition: all .3s;
  }
  .home .home-left .navbar .home-left-menu ul li a span {
    display: none;
  }
  .home .home-left .navbar .home-left-menu ul li a i {
    font-size: 16px;
    margin-left: 15px;
    margin-right: 0;
  }
  .home .home-left .navbar .home-left-menu ul li:hover {
    letter-spacing: unset;
    color: black;
  }
  .home .home-left .navbar .home-left-copyright {
    display: none;
  }
  .home .home-right {
    width: 100%;
  }
}

@media (max-width: 1040px) {
  .home .home-right {
    padding: 100px 40px;
    display: block;
  }
  .home .home-right .home-right-cover {
    width: auto;
    flex-direction: column;
  }
  .home .home-right .home-right-cover .home-right-details {
    width: auto;
    text-align: center;
    margin-left: 0;
  }
  .home .home-right .home-right-cover .home-right-details .job {
    max-width: 450px;
  }
  .home .home-right .home-right-cover .home-right-details .name {
    margin: 30px 0;
  }
  .home .home-right .home-right-cover .home-right-details ul li {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .home .home-right .home-right-cover .home-right-avt {
    width: 200px;
    height: 200px;
  }
  .home .home-right .home-right-cover .name {
    font-size: 35px;
  }
}

@media (max-width: 420px) {
  .home .home-left .navbar {
    padding: 20px 15px;
  }
  .home .home-left .navbar .home-left-logo {
    font-size: 35px;
  }
  .home .home-right {
    padding: 100px 15px;
  }
}

.home .home-right .about {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: right;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.home .home-right .about .about-cover {
  width: 100%;
}

.home .home-right .about .about-cover h1 {
  font-size: 25px;
  margin: 20px 0;
  color: black;
}

.home .home-right .about .about-cover .about-cover-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.home .home-right .about .about-cover .about-cover-block .about-left {
  width: 50%;
  margin-right: 50px;
}

.home .home-right .about .about-cover .about-cover-block .about-left p {
  font-style: italic;
}

.home .home-right .about .about-cover .about-cover-block .about-right ul li {
  list-style: none;
}

.home .home-right .about .about-cover .about-cover-block .about-right ul li p span {
  display: inline-block;
  min-width: 100px;
  color: black;
  font-weight: 600;
}

.home .home-right .about .about-cover .button-skill {
  font-size: 20px;
  margin: 40px 0;
  border: none;
  background: none;
  cursor: pointer;
}

.home .home-right .about .about-cover .about-skill {
  display: flex;
  position: relative;
  width: 0%;
  transition: 0.6s cubic-bezier(0.6, 0.01, 0, 1);
  height: 30px;
  /*  .list-skill {
                        @include center();

                    } */
}

.home .home-right .about .about-cover .about-skill .list-skill {
  width: 100%;
  height: 100%;
  position: relative;
}

.home .home-right .about .about-cover .about-skill .list-skill div:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background: #767676;
  display: block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  box-shadow: 0 0 0 3px #76767669, 0 0 0 6px #7676764b, 0 0 0 12px #7676761c;
}

.home .home-right .about .about-cover .about-skill .list-skill div {
  transition: .7s;
  opacity: 0;
  position: absolute;
}

.home .home-right .about .about-cover .about-skill .list-skill div:first-child {
  top: -30px;
}

.home .home-right .about .about-cover .about-skill .list-skill div:nth-child(odd):after {
  bottom: -22px;
}

.home .home-right .about .about-cover .about-skill .list-skill div:nth-child(2) {
  bottom: -30px;
  left: 33%;
}

.home .home-right .about .about-cover .about-skill .list-skill div:nth-child(even):after {
  top: -23px;
}

.home .home-right .about .about-cover .about-skill .list-skill div:nth-child(3) {
  top: -30px;
  right: 33%;
}

.home .home-right .about .about-cover .about-skill .list-skill div:last-child {
  bottom: -30px;
  right: 0%;
}

.home .home-right .about .about-cover .about-skill .list-skill:after {
  z-index: 0;
  transition: all .5s;
  content: '';
  background-color: black;
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.home .home-right .about .about-cover .button-skill:hover + .about-skill {
  width: 100%;
  /*  .list-skill:after{
                        transform: translatex(15px);
                    } */
}

.home .home-right .about .about-cover .button-skill:hover + .about-skill .list-skill div {
  transition-delay: .3s;
  opacity: 1;
}

@media (max-width: 1040px) {
  .home .home-right .about {
    width: auto;
  }
  .home .home-right .about .about-cover h1 {
    margin: 0;
  }
  .home .home-right .about .about-cover .about-cover-block {
    display: block;
  }
  .home .home-right .about .about-cover .about-cover-block .about-left {
    width: 100%;
  }
  .home .home-right .about .about-cover .about-cover-block .about-left p {
    margin: 25px 0;
  }
}

@media (max-width: 420px) {
  .home .home-right .about .about-cover h1 {
    text-align: center;
  }
  .home .home-right .about .about-cover .about-cover-block .about-left p {
    text-align: center;
  }
}

.scrolled {
  animation-name: right;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

.js-scroll.scrolled {
  opacity: 1;
}

.home .home-right .project {
  height: 70%;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .home-right .project .project-cover {
  height: 100%;
  width: 100%;
}

.home .home-right .project .project-cover .title {
  margin-bottom: 50px;
  font-size: 30px;
  color: black;
}

.home .home-right .project .project-cover .project-content {
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 70px;
}

.home .home-right .project .project-cover .project-content .project-item {
  box-shadow: 0 0 20px #dfdfdf;
  background-color: white;
}

.home .home-right .project .project-cover .project-content .project-item .project-item-img {
  cursor: pointer;
  overflow: hidden;
}

.home .home-right .project .project-cover .project-content .project-item .project-item-img img {
  transform: scale(1);
  transition: all .3s;
  width: 100%;
}

.home .home-right .project .project-cover .project-content .project-item .project-item-img:hover img {
  transform: scale(1.03);
}

.home .home-right .project .project-cover .project-content .project-item .project-item-content {
  padding: 30px;
}

.home .home-right .project .project-cover .project-content .project-item .project-item-content .item-content-copyright {
  font-style: italic;
}

.home .home-right .project .project-cover .project-content .project-item .project-item-content .item-content-copyright:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #939393;
}

.home .home-right .project .project-cover .project-content .project-item .project-item-content .item-content-describe {
  margin: 15px 0;
  color: black;
}

.home .home-right .project .project-cover .project-content .project-item .project-item-content button {
  transition: all .3s;
  border: none;
  background-color: black;
  color: white;
  padding: 10px 40px;
}

.home .home-right .project .project-cover .project-content .project-item .project-item-content button a {
  height: 100%;
  font-weight: 500;
  transition: all .3s;
  color: white;
  text-decoration: none;
}

.home .home-right .project .project-cover .project-content .project-item .project-item-content button:hover a {
  letter-spacing: 2px;
}

@media (max-width: 1040px) {
  .home .home-right .project {
    width: 100%;
  }
  .home .home-right .project .project-cover .project-content {
    grid-gap: 40px;
  }
}

@media (max-width: 764px) {
  .home .home-right .project {
    width: 100%;
  }
  .home .home-right .project .project-cover .project-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.not-selected {
  display: none !important;
}

.home .selected {
  color: black !important;
  letter-spacing: 2px !important;
}

@media (max-width: 1200px) {
  .home .selected {
    letter-spacing: unset !important;
  }
}
/*# sourceMappingURL=main.css.map */