.home {
    .home-right {
        .about {
            width: 85%;
            @include center();
            animation-name: right;
            animation-duration: 1.2s;
            animation-fill-mode: forwards;
            opacity:0;
            .about-cover {
                width: 100%;
                h1 {
                    font-size: 25px;
                    margin: 20px 0;
                    color: black;
                }
                .about-cover-block {
                    @include center(flex, space-between, flex-start);
                    .about-left {
                        width: 50%;
                        margin-right: 50px;
                        p {
                            font-style: italic;
                        }
                    }
                    .about-right {
                        ul {
                            li {
                                list-style: none;
                                p {
                                    span {
                                        display: inline-block;
                                        min-width: 100px;
                                        color: black;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                }
                .about-skill {
                    display: flex;
                    margin-top: 60px;
                    position: relative;
                    width: 3%;
                    transition: .6s cubic-bezier(.6,.01,0,1);
                    height: 30px;
                    .list-skill {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        div:after {
                            content: '';
                            position:absolute;
                            left:0;
                            right:0;
                            margin:auto;
                            background: #767676;
                            display: block;
                            border-radius: 50%;
                            width: 15px;
                            height: 15px;
                            box-shadow: 0 0 0 3px #76767669, 0 0 0 6px #7676764b, 0 0 0 12px #7676761c;
                        }
                        div {
                            transition: .7s;
                            opacity: 0;
                            position: absolute;
                        }
                        div:first-child {
                            top: -30px;
                        }
                        div:nth-child(odd):after {
                            bottom: -22px;
                        }
                        div:nth-child(2) {
                            bottom: -30px;
                            left: 25%;
                        }
                        div:nth-child(even):after {
                            top: -23px;
                        }
                        div:nth-child(3) {
                            top: -30px;
                            left: 50%;
                        }
                        div:last-child {
                            bottom: -30px;
                            left: 75%;
                        }
                    }
                    .list-skill:after {
                        z-index:0;
                        transition: all .5s;
                        content: '';
                        background-color: black;
                        width: 100%;
                        height: 1px;
                        display: block;
                        position:absolute;
                        top:0;
                        bottom:0;
                        margin: auto;
                    }
                    button {
                        font-size: 20px;
                        top:0;
                        bottom:50px;
                        margin: auto;
                        right: -7px;
                        position: absolute;
                        background:none;
                        border: none;
                        cursor: pointer;
                    }
                   /*  .list-skill {
                        @include center();

                    } */
                    
                }
                .about-skill:hover {
                    width: 100%;
                    .list-skill {
                        div {
                            transition-delay: .3s;
                            opacity: 1;
                        }
                    }
                    .list-skill:after{
                        transform: translatex(15px);
                    }
                }
               
               
            }
            
        }
    }
}
@media (max-width: 1040px) {
    .home {
        .home-right {
            .about {
                width: auto;
                .about-cover {
                    h1 {
                        margin: 0;
                    }
                    .about-cover-block {
                        display: block;
                        .about-left {
                            width: 100%;
                            p {
                                margin: 25px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
