@mixin center($display: flex, $justify: center, $align: center) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}
.home {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    .home-left {
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        width:27%;
        height: 100%;
        .navbar {
            .home-left-logo {
                color: black;
                cursor: pointer;
                margin-bottom: 40px;
                font-size: 45px;
                font-weight: 1000;
            }
            .home-left-menu {
                font-weight: 500;
                ul {
                    li {
                        line-height: 18px;
                        transition: all .2s;
                        cursor: pointer;
                        display: flex;
                        margin-top: 30px;
                        color:#767676;
                        list-style: none;
                        i {
                            margin-right: 10px;
                        }
                        a {
                            text-decoration: none;
                            color: #767676;
                        }
                    }
                    li:first-child {
                        margin-top: 0;
                    }
                    li:hover {
                        letter-spacing: 2px;
                        a {
                            color: black;
                        }
                    }
                }
            }
            .home-left-copyright {
                margin-top: 65px;
                color:#767676;
                font-style: italic;
                a {
                    transition: all .3s;
                    color:#767676;
                    text-decoration: none;
                    font-weight: 500;
                }
                a:hover {
                    color: black;
                    letter-spacing: 2px;
                }
            }
        }
       
    }
    .home-right {
        @include center();
        background: #f8f8f8;
        width: 73%;
        height: auto;
        .home-right-cover {
            animation-name: right;
            animation-duration: 1.2s;
            animation-fill-mode: forwards;
            opacity:0;
            @include center( flex ,space-evenly , center);
            width: 85%;
            .home-right-avt {
                width: 300px;
                height: 300px;
                position: relative;
                border-radius: 100%;
                .avt-img {
                    box-shadow: inset 0 0 0 9px #ffffff4d;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-image: url('../../img/avt.JPEG');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
                    animation: avt 8s ease-in-out .5s infinite;
                }
            }
            .home-right-details {
                margin-left: 80px;
                width:50%;
                .name {
                    line-height: 1.2;
                    margin-bottom: 20px;
                    color: black;
                    font-size: 55px;
                    font-weight: 800;
                }
                .job {
                    font-style: italic;
                    color:#767676;
                    font-weight: 500;
                    margin-bottom: 30px;
                }
                    ul {
                        li {
                            margin-right:20px;
                            display: inline;
                            list-style: none;
                            a {
                                text-decoration: none;
                                img {
                                    width: 17px;
                                    height: 17px;
                                    transition: all .4s;
                                }
                                img:hover {
                                    opacity: .6;
                                    transform: translatey(-5px);
                                }

                            }
                           
                        }
                    }
            }
        }
    }
}
@keyframes avt {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    } 
}
@keyframes right {
    from {
        transform: translatex(-100px);
        opacity: 0;

    }
    to {
        transform: translatex(0);
        opacity: 1;
    
    }
}
@media (min-width: 1200px) {
    .home {
        .home-right {
            overflow: scroll;
        }
    }
}
@media (max-width: 1200px) {
        .home {
            display:block;
            .home-left {
                height: auto;
                width: 100%;
                .navbar {
                    padding: 20px 40px;
                    width: 100%;
                    justify-content: space-between;
                    display: flex;
                    .home-left-logo {
                        font-size: 40px;
                        margin: 0;
                    }
                    .home-left-menu {
                        ul {
                            li {
                                display: inline;
                                a {
                                    transition: all .3s;
                                    span {
                                        display: none;
                                    }
                                    i {
                                        font-size: 16px;
                                        margin-left: 15px;
                                        margin-right: 0;
                                    }
                                }
                               
                            }
                            li:hover {
                                letter-spacing: unset;
                                color: black;
                            }
                        }
                    }
                    .home-left-copyright {
                        display: none;
                    }
                }
               
            }
            .home-right {
                width: 100%;
            }
        }
}
@media (max-width: 1040px) {
    .home {
        .home-right {
            padding: 100px 40px;
            display: block;
            .home-right-cover {
                width: auto;
                flex-direction: column;
                .home-right-details {
                    width: auto;
                    text-align: center;
                    margin-left: 0;
                    .job {
                        max-width: 450px;
                    }
                    .name {
                        margin: 30px 0;
                    }
                    ul {
                        li {
                            margin: 0 10px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .home {
        .home-right {
            .home-right-cover {
                .home-right-avt {
                    width: 200px;
                    height: 200px;
                }
                .name {
                    font-size: 35px;
                }
            }
        }
    }
}
@media (max-width: 420px) {
    .home {
        .home-left {
            .navbar {
                padding: 20px 15px;
                .home-left-logo {
                    font-size: 35px;
                }
            }
        }
        .home-right {
            padding: 100px 15px;
        }
    }
}